
ProjetFinal/.vs/ProjetFinal/v16/ipch/AutoPCH/20d63ca49051a70f/PROJETFINAL.ipch
ProjetFinal/.vs/ProjetFinal/v16/Browse.VC.opendb
ProjetFinal/.vs/ProjetFinal/v16/Browse.VC.db-wal
ProjetFinal/.vs/ProjetFinal/v16/Browse.VC.db-shm
ProjetFinal/.vs/ProjetFinal/v16/Browse.VC.db
*.db
*.ipch
